<p-toolbar styleClass="bg-orange-600">
    <div class="p-toolbar-group-start">
        <p-button icon="pi pi-home" label="Dashboard" routerlink="/dashboard" styleClass="bg-orange-600 border-white"
            p-button-success routerLinkActive="exact_route" class="mr-2"></p-button>

        <p-button icon="pi pi-book" label="Gerenciamento de Livros" routerlink="/dashboard"
            styleClass="bg-orange-600 border-white" p-button-success routerLinkActive="exact_route"
            class="mr-2"></p-button>

        <p-button icon="pi pi-book" label="Empréstimos" routerlink="/dashboard" styleClass="bg-orange-600 border-white"
            p-button-success routerLinkActive="exact_route" class="mr-2"></p-button>
    </div>
</p-toolbar>